<!DOCTYPE html>
<html lang="hu">
  <head>
    <title>MEG - File Upload</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />

    <!-- Include Dropzone.js CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <style>
      /* Custom styles */
      body {
        padding-top: 56px; /* Adjust this value based on your navbar height */
      }
      .custom-box {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        padding: 15px;
        width: 300px;
        display: inline-block;
      }

      .progress {
        width: 100%;
        margin: 0 5px;
      }

      #template{
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- Include the navbar -->
    <%- include('navbar.ejs') %>

    <!-- Content -->
    <div class="container-fluid mt-5">
      <h1>File Upload</h1>

      <form action="/upload" class="dropzone" id="uploadZone"></form>

      <div class="row" id="previews">
        <div class="col" id="template">
          <div class="custom-box">
            <div class="float-right"><a href="#" data-dz-remove>x</a></div>
            <h4 id="name" data-dz-name></h4>
            <p>Status: <span id="status">Uploading..</span></p>
            <p>Size: <span data-dz-size id="fileSize"></span></p>
            <p>Upload Speed: <span id="uploadSpeed"></span></p>
            <p>Remaining Time: <span id="remainingTime"></span></p>
            <div class="progress" id="total-progress">
              <div
                class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                data-dz-uploadprogress
                role="progressbar"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Include Dropzone.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/upload.js"></script>
  </body>
</html>
