<!DOCTYPE html>
<html lang="hu">
  <head>
    <title>MEG - File Upload</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />

    <!-- Include Dropzone.js CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <style>
      /* Custom styles */
      body {
        padding-top: 56px; /* Adjust this value based on your navbar height */
      }
    </style>
  </head>
  <body>
    <!-- Include the navbar -->
    <%- include('navbar.ejs') %>

    <!-- Content -->
    <div class="container-fluid mt-5">
      <h1>File Upload</h1>

      <form action="/upload" class="dropzone" id="uploadZone"></form>
      <div id="uploadSpeed"></div>
      <div id="remainingTime"></div>
    </div>

    <!-- Include Dropzone.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    
    <script src="/js/upload.js"></script>
  </body>
</html>
