<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MEG - Video Player</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />

    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />

    <link href="/css/video.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Logo -->
    <div class="container">
      <img src="/images/logo.png" alt="Logo" height="100" />
    </div>

    <!-- Video Player -->
    <div class="container" style="width: 960px; height: 540px">
      <video controls playsinline>
        <source src="/get/<%= link %>" type="application/x-mpegURL" />
      </video>
    </div>

    <!-- Include Video.js library -->
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <script src="/js/video.js"></script>
  </body>
</html>